body{
    background-color: #C9C9C9;
}

.logo {
    width: 100px;
    height: 40px;
}

.btn-primary {
    background-color: #f04c25;
}

.btn-secondary {
    background-color: #009cab;
}

.jumbotron {
    margin: 1em auto;
    max-width: 1200px;
    width: 95%;
    font: 18px/1.5 sans-serif;
}

.jumbotron code {
    background: #F5F5F5;
    padding: 2px 6px;
}