{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <p class="lead"></p>
        <hr class="my-4">

        <h2>About the website</h2>
        <p class="lead">
            &emsp; This website is the result of an internship realised by two students (Florentin Balfouong & Tony Pedrero)
            from the computing department of the University Institute of Technology of Bordeaux. <br><br>
            &emsp; Please notice that the accessibility of the system belongs only to students and teachers of Thomas
            More Geel. <br><br>
            &emsp; The system has been designed as an interactive webshop in which students have the opportunity to purchase
            small electronic components. They place an order by filling in article numbers of the components and also
            provide the system with available suppliers.
            Students have all the possibilities as teachers, but teachers can also place an urgent order. The components
            or equipment will be delivered faster. <br>
            &emsp;The webshop is managed by a number of Thomas More Geel teachers.
            After approval of an order by the administrator, a minimum delivery date of two weeks is set.
            Administrators also have full control over the available suppliers.

        </p><br>
        <hr class="my-4">

        <h2>About Thomas More</h2>
        <p class="lead">
            For more details, go and check the official Thomas More about page: <br>
            <a href="https://www.thomasmore.be/over-thomas-more">https://www.thomasmore.be/over-thomas-more</a>
        </p>

    </div>

{% endblock %}