{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <hr class="my-4">

        <p></p>

        <h2>Administrators contact</h2>
        <p class="lead">
            For any problem on orders or on the website please contact :
            <ul>
                <li>Maarten Van Lint - maarten.vanlint@thomasmore.be</li>
                <li>Peter Mertens - peter.mertens@thomasmore.be</li>
            </ul>
        </p><br>

        <hr class="my-4">

        <h2>More contacts</h2>
        <p class="lead">
            For more details, go and check the official Thomas More contact page: <br>
            <a href="https://www.thomasmore.be/contact">https://www.thomasmore.be/contact</a>
        </p>
    </div>


{% endblock %}