{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
    .jumbotron { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
    .jumbotron code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="jumbotron">
        {%  if not app.user %}
            <h1 class="display-3">Thomas More Component Store</h1>

            <p class="lead">This website is made for students to order electronics pieces for their courses.</p>
            <hr class="my-4">

            <p>If you don't have an account, create one!</p>
            <p class="lead">
                <a class="btn btn-secondary btn-lg" href="{{ path("user_registration") }}" role="button">Sign Up</a>
                <a class="btn btn-primary btn-lg" href="{{ path("user_login") }}" role="button">Sign In</a>
            </p>
        {% else %}
            <h1>Thank you for using our device !</h1> <hr><br>

            <p class="lead">Here is a global list of what you can do while you are logged in :</p>
            <ul>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='{{ path("user_show", {'iduser': app.user.iduser}) }}';">Access to your user profile</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='{{ path('articleList', {'iduser': app.user.iduser}) }}';">Order new items</button></li>
                <li><button type="button" class="btn btn-link" onclick="window.location.href='{{ path('onlineorder_showAll', {'iduser': app.user.iduser}) }}';">See your current orders</button></li>
            </ul>
        {% endif %}
    </div>


{% endblock %}
