<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Thomas More{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="https://www.thomasmore.be/">
            <img class="logo" src="{{ asset('build/images/thomasmore_logo.png') }}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">

                {% if not app.user %}
                    {# MENU WHEN NOT CONNECTED #}
                    {% include "menu/menu_not_connected.html.twig" %}
                {% elseif app.user %}
                    
                    {# MENU FOR ROLE SUPER ADMIN #}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        {% include "menu/menu_super_admin.html.twig" %}

                        {# MENU FOR ROLE ADMIN #}
                    {% elseif is_granted('ROLE_ADMIN') %}
                        {% include "menu/menu_admin.html.twig" %}

                        {# MMENU FOR ROLE  TEACHER #}
                    {% elseif is_granted('ROLE_TEACHER') %}
                        {% include "menu/menu_teacher.html.twig" %}

                        {# MENU FOR ROLE_STUDENT #}
                    {% elseif is_granted('ROLE_STUDENT') %}
                        {% include "menu/menu_student.html.twig" %}

                    {# OTHER CASES #}
                    {% else %}
                        {% include "menu/menu_student.html.twig" %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        {% if app.user %}
            <button class="btn btn-danger my-2 my-sm-0" type="button" onclick="window.location.href = '{{ path("user_logout") }}';">Log out</button>
        {% endif %}
    </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
