{% extends 'base.html.twig' %}

{% form_theme accountActivationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">

{#        this line displays the code in the page   #}
{#        {{ code }}#}

        <h1 class="display-3">{{ headtitle }}</h1>

        {{ form_start(accountActivationForm) }}


        {{ form_row(accountActivationForm.security_code , { 'attr': {'placeholder': "Enter the code received in the mail" }}) }}

        <button type="submit" class="btn btn-secondary">Activate my account</button>

        {{ form_end(accountActivationForm) }}

    </div>

{% endblock %}