{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <hr class="my-4">

        <p>
            You are banned !
        </p>


    </div>

{% endblock %}