{% extends 'base.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <br>



        <form method="post">
            {% if error %}
                    <div class="alert alert-dismissible alert-danger">
                        <strong>Oh snap!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
            {% endif %}

            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" id="username" name="_username"
                       value="{{ last_username }}" type="text" class="form-control" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="_password"
                       type="password" class="form-control">
            </div>

            <a href="{{ path('password_forgotten') }}">Password forgotten ?</a>

            <div class="form-group">
                <button type="submit" class="btn btn-secondary">Log In</button>
            </div>
        </form>

    </div>

{% endblock %}