{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <br>
        <hr class="my-4">

        {{ form_start(form) }}

        {{ form_row(form.email) }}

        <button type="submit" class="btn btn-secondary">Send a safety code</button>

        {{ form_end(form) }}

    </div>

{% endblock %}