{% extends 'base.html.twig' %}

{% form_theme signupForm 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">

        <h1 class="display-3">{{ headtitle }}</h1>

        {{ form_start(signupForm) }}

        {{ form_row(signupForm.first_name , { 'attr': {'placeholder': "First Name" }}) }}
        {{ form_row(signupForm.last_name , { 'attr': {'placeholder': "Last Name" }}) }}
        {{ form_row(signupForm.email , { 'attr': {'placeholder': "r-number@student.thomasmore.be or r-number@thomasmore.be" }}) }}
        {{ form_row(signupForm.password , { 'attr': {'placeholder': "Password" }}) }}
        {{ form_row(signupForm.confirm_password , { 'attr': {'placeholder': "Confirm Password" }}) }}

        <button type="submit" class="btn btn-secondary">Sign Up</button>

        {{ form_end(signupForm) }}

    </div>

{% endblock %}