
{#  #}

{% if order.status == "PENDING" %}

    <form method="post" action="{{ path('onlineorder_delete', {'iduser': user.iduser, 'idonlineorder': order.idonlineorder}) }}" onsubmit="return confirm('Are you sure you want to cancel this order?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.idonlineorder) }}">
        <button class="btn btn-danger">Cancel</button>
    </form>

{% else %}

    <p class="text-danger" >Cannot be canceled</p>

{% endif %}