
{# This file manages the displaying of buttons to set statuses of the orders #}

{% if onlineorder.status == 'PENDING' %}

    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 1}) }}';">Validate</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 2}) }}';">Decline</button>

{% elseif onlineorder.status == 'VALIDATED' %}

    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 4}) }}';">Ordered</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 3}) }}';">Canceled</button>

{% elseif onlineorder.status == 'DECLINED' %}

    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_reason', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 7}) }}';">Send Email</button>

{% elseif onlineorder.status == 'CANCELED' %}

    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_reason', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 8}) }}';">Send Email</button>

{% elseif  onlineorder.status == 'ORDERED'%}

    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 5}) }}';">Arrived</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 3}) }}';">Canceled</button>

{% elseif onlineorder.status == 'ARRIVED' %}

    <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 6}) }}';">Processed</button>
    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href = '{{ path('onlineorder_changeStatus', {'idonlineorder': onlineorder.idonlineorder, 'idButton': 3}) }}';">Canceled</button>

{% elseif onlineorder.status == 'PROCESSED'%}

    <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>
    <span class="badge badge-success">PROCESSED</span>
    
    {% else %}

        <button type="button" class="btn btn-primary btn-sm" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': onlineorder.idonlineorder}) }}', '_blank');">See order</button>

{% endif %}