{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-3">{{ headtitle }}</h1>
    <p class="lead">Here you will find a list of all the orders of the system</p>

    <hr class="my-4">

    <form class="form-group" action="{{ path('onlineorder_index') }}" method="get">
        <table class="table">
            <tr>
                <p>Select what kind of orders you want to see</p>
                <td>
                    <select class="custom-select" name="onlineOrders">
                        <option value="1">All</option>
                        <option value="2">Pending</option>
                        <option value="3">Validated</option>
                        <option value="4">Declined</option>
                        <option value="5">Canceled</option>
                        <option value="6">Ordered</option>
                        <option value="7">Arrived</option>
                        <option value="8">Processed</option>
                        <option value="9">Urgent</option>
                        <option value="10">Personal</option>
                    </select>
                </td>
                <td>
                    <button class="btn-secondary" type="submit" value="Submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>

    <hr class="my-4">

    <table class="table">
        <thead>
            <tr>
                <th>By</th>
                <th>Description</th>
                <th>Creation date</th>
                <th>Inspection date</th>
                <th>Personal</th>
                <th>Urgent</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for onlineorder in onlineorders %}
            <tr>
                <td>{{ onlineorder.iduser.firstName }} {{ onlineorder.iduser.lastName }}</td>
                <td>{{ onlineorder.description }}</td>
                <td>{{ onlineorder.creationdate ? onlineorder.creationdate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ onlineorder.inspectiondate ? onlineorder.inspectiondate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ onlineorder.personal ? 'Yes' : 'No' }}</td>
                <td>{{ onlineorder.urgent ? 'Yes' : 'No' }}</td>
                <td>{{ onlineorder.status }}</td>
                <td>
                    {{ include('onlineorder/buttonStatusManager.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">There is no order corresponding</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
