{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>{{ headtitle }}</h1><br>

        <hr class="my-4">

        <h2>Review of the article</h2><br>

        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>Article's name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Provider</th>
            </tr>
            </thead>
            <tbody>
            {% for article in list %}
                <tr>
                    <td>{{ article.name }}</td>
                    <td>{{ article.price }}</td>
                    <td>{{ article.quantity }}</td>
                    <td>{{ article.providername }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td><b>TOTAL:</b></td>
            </tr>
            <tr>
                <td></td>
                <td><b> {{ totalPrice }}€ </b></td>
                <td><b>Number of items : {{ totalNumber }}</b></td>
            </tr>
            </tbody>
        </table>
        <br>


        <button type="button" class="btn btn-danger" onclick="window.location.href = '{{ path('articleList', {'iduser': user.iduser}) }}';"> << Modify the list</button>

        <hr class="my-4">

        <h2>Confirm your order</h2>
        <br>

        {{ form_start(form) }}
        {{ form_widget(form) }} <br>

        <button type="submit" class="btn btn-primary">Order it!</button>
        {{ form_end(form) }}

    </div>
{% endblock %}
