{% extends 'base.html.twig' %}

{% block title %}Your orders{% endblock %}

{% block body %}

    <div class="jumbotron">

    <h1 class="display-3">{{ headtitle }}</h1>

    {% if user.Onlineorders is empty %}
        <hr class="my-4">
        <p class="text-danger">You did not order yet...</p>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Order's number</th>
                    <th>Creation date</th>
                    <th>State of order</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for order in user.Onlineorders%}
                <tr>
                    <td>{{ order.idonlineorder }}</td>
                    <td>{{ order.creationdate|date('Y-m-d H:i:s')}}</td>
                    <td>{{ order.status }}</td>
                    <td><button type="button" class="btn btn-success" onclick="window.open('{{ path("showOrderToPDF", {'idonlineorder': order.idonlineorder}) }}', '_blank');">See order</button></td>
                    <td>{{ include('onlineorder/_delete_form.html.twig') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br>
    <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path("user_show", {'iduser': app.user.iduser}) }}';"><< Back to your account</button>
    <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('articleList', {'iduser': user.iduser}) }}';">Order new items</button>


{% endblock %}