{% extends 'base.html.twig' %}

{% block title %}Onlineorder{% endblock %}

{% block body %}
    <h1>Onlineorder</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idonlineorder</th>
                <td>{{ onlineorder.idonlineorder }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ onlineorder.description }}</td>
            </tr>
            <tr>
                <th>Inspectiondate</th>
                <td>{{ onlineorder.inspectiondate ? onlineorder.inspectiondate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ onlineorder.status }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ onlineorder.creationdate ? onlineorder.creationdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('onlineorder_index') }}">back to list</a>

    <a href="{{ path('onlineorder_edit', {'idonlineorder': onlineorder.idonlineorder}) }}">edit</a>

    {{ include('onlineorder/_delete_form.html.twig') }}
{% endblock %}
