{% extends 'base.html.twig' %}

{% block title %}Access denied!{% endblock %}

{% block body %}

    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">

        <h1 class="display-3">Access denied!</h1>
        <hr>

        <div class="card text-white bg-danger mb-3" style="max-width: 100%;">
            <div class="card-header">You don't have permission to access this page with your current status.</div>
            <div class="card-body">
                <h4 class="card-title">What can you do?</h4>
                <p class="card-text">You can use a <strong><u><a style="color:white;" href="{{ path('user_login') }}">valid profile</a></u></strong> for this action, or <strong><u><a style="color:white;" href="{{ path('index') }}">go back to the main page</a></u></strong>.</p>
            </div>
        </div>
    </div>

{% endblock %}