{# Home #}
<li class="nav-item active">
    <a class="nav-link" href="{{ path("index") }}">Home <span class="sr-only">(current)</span></a>
</li>

{# About #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("about") }}">About</a>
</li>

{# Contact #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("contact") }}">Contact</a>
</li>