{% include "menu/menu_base.html.twig" %}

{# My account #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("user_show", {'iduser': app.user.iduser}) }}">My Account</a>
</li>

{# My orders #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("onlineorder_showAll", {'iduser': app.user.iduser}) }}">My orders</a>
</li>

{# Users list #}
<li class="nav-item">
    <a class="nav-link" href="{{ path('user_index') }}">Users</a>
</li>

{# Orders list #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("onlineorder_index") }}">Orders</a>
</li>

{# Articles list #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("article_new") }}">Articles</a>
</li>

{# Providers list #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("provider_new") }}">Providers</a>
</li>

{# Providers rating #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("provider_index") }}">Your opinion</a>
</li>

