{% include 'menu/menu_base.html.twig' %}

{# Registration #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("user_registration") }}">Sign Up</a>
</li>

{# Log In #}
<li class="nav-item">
    <a class="nav-link" href="{{ path("user_login") }}">Log In</a>
</li>
