
{# This file manages the interface of set admin button #}

{% if user.roles[0] != 'ROLE_STUDENT' %}

    {% if is_granted('ROLE_SUPER_ADMIN') and not isSelfUser and user.roles[0] != 'ROLE_ADMIN' %}

        <form method="post" action="{{ path('user_set_admin', {'iduser': user.iduser}) }}" onsubmit="return confirm('Are you sure you set this user ROLE ADMIN?');">
            <input type="hidden" name="_token" value="{{ csrf_token('set_admin' ~ user.iduser) }}">
            <button class="btn btn-success" type="submit">Set Admin</button>
        </form>

    {% elseif is_granted('ROLE_SUPER_ADMIN') and not isSelfUser and user.roles[0] == 'ROLE_ADMIN' %}

        <form method="post" action="{{ path('user_set_admin', {'iduser': user.iduser}) }}" onsubmit="return confirm('Are you sure you remove this user ROLE ADMIN?');">
            <input type="hidden" name="_token" value="{{ csrf_token('unset_admin' ~ user.iduser) }}">
            <button class="btn btn-danger" type="submit">Unset Admin</button>
        </form>

    {% endif %}
{% endif %}


