
{# This templates manages the ban and unban of users #}

{% set isUserAtLeastAdmin = user.roles[0] == 'ROLE_ADMIN' or user.roles[0] == 'ROLE_SUPER_ADMIN'%}

{% if not isUserAtLeastAdmin or is_granted('ROLE_SUPER_ADMIN')%}

    {% if user.banned == false %}

        <form method="post" action="{{ path('user_ban', {'iduser': user.iduser}) }}" onsubmit="return confirm('Are you sure you want to ban this user?');">
            <input type="hidden" name="_token" value="{{ csrf_token('ban' ~ user.iduser) }}">
            <button class="btn btn-danger" type="submit">Ban user</button>
        </form>

    {% else %}

        <form method="post" action="{{ path('user_ban', {'iduser': user.iduser}) }}" onsubmit="return confirm('Are you sure you want to unban this user?');">
            <input type="hidden" name="_token" value="{{ csrf_token('ban' ~ user.iduser) }}">
            <button class="btn btn-success" type="submit">Unban user</button>
        </form>

    {% endif %}

{% endif %}