{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <hr class="my-4">

        <h3> <strong>Email :</strong> {{ user.email }}</h3>

        {{ form_start(form) }}

        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}

        <button type="button" class="btn btn-link" onclick="window.location.href = '{{ path("user_edit_password", {'iduser': app.user.iduser}) }}';">Change current password</button>
        <br><br>

        <button class="btn btn-success">{{ button_label|default('Save') }}</button><br><br>

        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path("user_show", {'iduser': app.user.iduser}) }}';">Back to your account</button>


    </div>

{% endblock %}
