{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <hr class="my-4">

        <h3> <strong>Email :</strong> {{ user.email }}</h3>

        <br>
        {{ form_start(form) }}
        <p><b>Enter your current password</b></p><br>
        {%  if error is defined %}
            <p  style="color:red;">{{ error }}</p>
        {% endif %}
        {{ form_row(form.currentPassword, { 'attr': {'placeholder': "Current password" }}) }}
        <br>
        <p><b>Enter your new password</b></p><br>
        {{ form_row(form.password, { 'attr': {'placeholder': "New password" }}) }}
        {{ form_row(form.confirm_password, { 'attr': {'placeholder': "Confirm password" }}) }}

        <button class="btn btn-success">{{ button_label|default('Save') }}</button><br><br>

        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path("user_show", {'iduser': app.user.iduser}) }}';">Back to your account</button>

    </div>

{% endblock %}
