{% extends 'base.html.twig' %}



{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-3">{{ headtitle }}</h1>
        <p class="lead">Here you will find a list of all the users of the system</p>

        <hr class="my-4">

        <form class="form-group" action="{{ path('user_index') }}" method="get">
            <table class="table">
                <tr>
                    <td>
                        <select class="custom-select" name="users">
                            <option selected="">Which users to you want to see ?</option>
                            <option value="1">All</option>
                            <option value="2">Students</option>
                            <option value="3">Teachers</option>
                            <option value="4">Admins</option>
                            <option value="5">Super Admin</option>
                            <option value="6">Banned</option>
                            <option value="7">Unbanned</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn-secondary" type="submit" value="Submit">Submit</button>
                    </td>
                </tr>
            </table>

        </form>

        <hr class="my-4">

        <p class="lead">

        <table class="table">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Banned</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.banned ? '<p style="color:red;">Yes</p>' : '<p style="color:green;">No</p>' }}</td>
                    <td>
                        {% for role in user.roles %}
                        {{ role }}
                        {% endfor %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" onclick="window.location.href = '{{ path('user_show',  {'iduser': user.iduser }) }}';">Show</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </p>
    </div>

{% endblock %}
