{% extends 'base.html.twig' %}

{% set isSelfUser = app.user and app.user.iduser == user.iduser %}

{% block title %}My Account{% endblock %}

{% block body %}

    <div class="jumbotron">

        <h1 class="display-3">{{ user.firstName }} {{ user.lastName }}</h1>

        <p class="lead">
            {% if isSelfUser %}
                Hello {{ user.firstName }}, this is your account,
                you can find your information and the orders you've made.
            {% else %}
                Welcome on {{ user.firstName }} {{ user.lastName }} profile.
            {% endif %}

        </p>

        <hr class="my-4">

        <p class="lead"></p>

        <table class="table">

            <tbody>
            <tr>
                <th>First name</th>
                <td>{{ user.firstname }}</td>

                <th></th>
                <td>
                    {% for role in user.roles %}
                        <span class="badge badge-pill badge-success">{{ role }}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Last name</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Email adress</th>
                <td>{{ user.email }}</td>
            </tr>

            {% if isSelfUser %}
                <tr>
                    <th>Password</th>
                    <td>•••••••••••••••</td>
                </tr>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') and not isSelfUser %}
                <tr>
                    <th>Evaluation</th>
                    {% if user.evaluation != null %}
                        <td>{{ user.evaluation }}/5  ({{ nbVotes }} votes)</td>
                    {% else %}
                        <td>Not evaluated yet...</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Evalutate</th>
                    <td>
                        {% if last_evaluation != null %}
                            Your last evalution : {{ last_evaluation }}/5 <br>
                        {% endif %}

                        <div class="rate">
                            <form class="rate" action="{{ path('user_show', {'iduser': user.iduser }) }}" method="post">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                                <td></td>
                                <td><button type="submit" value="submit" class="btn btn-warning">Rate it</button></td>
                            </form>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th>Banned</th>
                    <td>{{ user.banned ? '<p style="color:red;">Yes</p>' : '<p style="color:green;">No</p>' }}</td>

                    <th></th>
                    <td>
                        {{ include('user/_ban_form.html.twig') }}
                    </td>
                </tr>

                {% if user.ban_date != null and user.ban_end_date != null %}
                    <tr>
                        <th>Ban date</th>
                        <td>{{ user.Ban_Date_String }}</td>
                    </tr>
                    <tr>
                        <th>Ban end date</th>
                        <td>{{ user.Ban_End_Date_String }}</td>
                    </tr>
                {% endif %}

            {% endif %}
            </tbody>
        </table>

        <br><br>

        {% if isSelfUser %}
            <table>
                <tbody>
                <tr>
                    <td>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path('articleList', {'iduser': user.iduser}) }}';">Order new items</button>
                        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path('onlineorder_showAll', {'iduser': user.iduser}) }}';">See my orders</button>

                    </td>
                </tr>
        {% endif %}
            </tbody>
        </table>

        <br><br>

                <tr>
                    <td>
                        {{ include('user/_admin_form.html.twig') }}

                        <button onclick="window.location.href = '{{ path('user_edit',{'iduser' : user.iduser}) }}';"
                                type="button" class="btn btn-outline-info">Edit this account</button>

                    </td>
                </tr>
                </tbody>
            </table>

    </div>
{% endblock %}
