<form method="post" action="{{ path('comment_delete', {'idprovider': provider.idprovider,'idcomment': comment.idcomment}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.idcomment) }}">
    <button type="submit" class="btn btn-link">Delete</button>
</form>