{% block body %}

    {% if comments is empty %}
        No comments for this provider...
    {% else %}
        {% for user in users %}
            {% for comment in comments %}
                {% if user.iduser == comment.iduser.iduser %}

                    {% if "ROLE_ADMIN" in user.roles or "ROLE_SUPER_ADMIN" in user.roles %}
                        <p style="color:red;">
                        <strong>{{ user.firstname }} {{ user.lastname }}</strong> wrote:<br><br>
                        <i>{{ comment.content }}</i><br><br>
                        <small>{{ comment.postdate|date('Y-m-d H:i:s') }}</small>
                        </p>
                    {% else %}
                        <strong>{{ user.firstname }} {{ user.lastname }}</strong> wrote:<br><br>
                        <i>{{ comment.content }}</i><br><br>
                        <small>{{ comment.postdate|date('Y-m-d H:i:s') }}</small>

                    {% endif %}
                    {% if "ROLE_ADMIN" in app.user.roles or "ROLE_SUPER_ADMIN" in app.user.roles %}
                        {{ include('comment/_delete_form.html.twig') }}
                    {% endif %}

                <hr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}


{% endblock %}
