<form method="post" action="{{ path('article_delete', {'idarticle': article.idarticle}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.idarticle) }}">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>
