{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New order{% endblock %}

{% block body %}

<body>


    <div class="jumbotron">

        <h1>Create your new order</h1><br>

        <hr class="my-4">

        <h2>Make your list of items</h2><br>

        <script type="text/javascript">

            function validate() {
                var checkboxArt = document.getElementById('#checkArt');
                var defaultArticle = document.getElementById('#isArticle');
                var newArticle = document.getElementById('#createArt');
                var checkboxProv = document.getElementById('#checkProv');
                var defaultProvider = document.getElementById('#isProvider');
                var newProvider = document.getElementById('#createProv');

                if (checkboxArt && checkboxArt.checked) {
                    newArticle.disabled = false;
                    if(defaultArticle) {
                        defaultArticle.disabled=true;
                    }
                } else {
                    if(defaultArticle){
                        defaultArticle.disabled = false;
                        newArticle.disabled = true;
                    }
                }
                if (checkboxProv && checkboxProv.checked) {
                    if(defaultProvider){
                        defaultProvider.disabled=true;
                    }
                    newProvider.disabled=false;
                } else {
                    if(defaultProvider){
                        defaultProvider.disabled = false;
                        newProvider.disabled = true;
                    }
                }

            }

            window.onload = validate;

        </script>

        {{ form_start(form) }}

        {% if hasArticles %}
            {{ form_row(form.name , {'id':'#isArticle', 'attr': {'placeholder': "Name of the article" }}) }}
            {{ form_row(form.I_want_another_article , { 'id': '#checkArt', 'attr': {'onClick':'validate()','placeholder': "Add article" }}) }}
        {% endif %}
        {{ form_row(form.newArticle , {'id':'#createArt', 'attr': {'placeholder': "Your new article" }}) }}
        {{ form_row(form.price , { 'attr': {'placeholder': "Price for 1 article (€)" }}) }}
        {{ form_row(form.quantity , { 'attr': {'placeholder': "Quantity" }}) }}
        {% if hasProviders %}
            {{ form_row(form.providerName , {'id':'#isProvider', 'attr': {'placeholder': "Provider" }}) }}
            {{ form_row(form.I_want_another_provider , { 'id': '#checkProv', 'attr': {'onClick':'validate()','placeholder': "Add provider" }}) }}
        {% endif %}
        {{ form_row(form.newProvider , {'id':'#createProv', 'attr': {'placeholder': "Your provider" }}) }}

        <button type="submit" class="btn btn-success">Add to your list</button>

        {{ form_end(form) }}

        <br>
        <h2>Your current list</h2>
        {% if list is empty %}
        <p>Your list is empty...</p>
        {% else %}
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>Article's name</th>
                <th>Price for 1</th>
                <th>Quantity</th>
                <th>Provider</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {% for article in list %}
                    <tr>
                        <td>{{ article.name }}</td>
                        <td>{{ article.price }}</td>
                        <td>{{ article.quantity }}</td>
                        <td>{{ article.providername }}</td>
                        <td><button type="button" class="btn btn-danger" onclick="window.location.href = '{{ path('article_removeFromList', {'iduser': user.iduser, 'article': article.name}) }}';">Delete from list</button></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><b>TOTAL:</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b> {{ totalPrice }}€ </b></td>
                    <td><b>Number of items : {{ totalNumber }}</b></td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <button type="button" class="btn btn-danger disabled" onclick="window.location.href = '{{ path("user_show", {'iduser': app.user.iduser}) }}';"><< Cancel order</button>
        {% if list is empty %}
        <button type="button" class="btn btn-primary disabled">Next step >></button>
        {% else %}
        <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('onlineorder_new', {'iduser': user.iduser, 'list':list}) }}';">Next step >></button>
        {% endif %}
    </div>

{% endblock %}
