{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}

<div class="jumbotron">

    <h1 class="display-3">Create new Article</h1>

    {{ form_start(form) }}

    {%  if error is defined %}
        <p  style="color:red;">{{ error }}</p>
    {% endif %}

    {{ form_row(form.articlename , { 'attr': {'placeholder': "Name of the article" }}) }}

    <button type="submit" class="btn btn-secondary">Add to database</button>

    {{ form_end(form) }}
    <br><br>

    <hr class="my-4">
    <br><br>

    <h1 class="display-3">Delete an article</h1>

    {% if list is empty %}
    <p  style="color:red;">The database is empty for now...</p>
    {% else %}
        <table class="table">
            <thead>
            <tr class="table-primary">
                <th>Article's name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            {% for article in list %}
                <tr>
                    <td><small>{{ article.articlename }}</small></td>
                    <td>{{ include('article/_delete_form.html.twig') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

</div>
{% endblock %}
