
{# This is the email send when a user registers #}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello,</h1>

        <p>{{ user.firstName }} you have just registered</p>

        <p>Activate your account ! </p>

        <p>Your code : {{ security_code }}</p>

    </div>
{% endblock %}