
{# This is the email send when an order is banned#}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello,</h1>

        <p>{{ user.firstName }} you have been banned for these reasons :</p>

        <p> reasons to put here</p>

        <p>You will be unbanned in on : {{ user.getBan_End_Date_String }}</p>
    </div>
{% endblock %}