
{# This is the email send when an order is created #}


{% block body %}

    <img class="logo" src="{{ asset('build/images/thomasmore_logo.png') }}">

    <div class="example-wrapper">
        <h1>Hello {{ user.firstName }},</h1>

        <p>The status of your order is now : {{ message }}</p>


        <style>
            table, th, td {border: 1px solid black; border-collapse: collapse;}th, td {padding: 5px;text-align: left;}
        </style>

        <h1>Order #{{ order.idonlineorder }}</h1>

        <b>Urgent : </b> {{ order.urgent ? 'YES' : 'NO' }} <br>
        <b>Personal : </b> {{ order.personal ? 'YES' : 'NO' }} <br>
        <b>Creation date : </b>{{ order.getCreationdateString() }}<br>
        <b>Client : </b>{{ user.firstName }} {{ user.lastName }}<br>
        <b>Email address : </b>{{ user.email }}<br>
        <b>Status :</b>
        {% for role in user.roles %}
            {{ role }}
        {% endfor %}

        <h2>Subject</h2>
        <p>
            {{ order.description }}
        </p>

        <h2>Articles</h2>
        {% set totalPrice = 0  %}
        {% set totalProduct = 0 %}
        <table>
            <thead>
            <tr>
                <th>Article\'s name</th>
                <th>Price for 1</th>
                <th>Quantity</th>
                <th>Provider</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.providerName }}</td>
                </tr>
                {% set totalPrice = totalPrice + (item.price * item.quantity) %}
                {% set totalProduct = totalProduct + item.quantity %}
            {% endfor %}

            <tr>
                <td>
                    <b>TOTAL:</b>
                </td>
                <td>
                    <b>{{ totalPrice }}€ </b>
                </td>
                <td>
                    <b>Number of items : {{ totalProduct }}</b>
                </td>
            </tr>
            </tbody>
        </table>

        <p>Download your order to pdf <a href="{{ url('showOrderToPDF', { 'idonlineorder' : order.idonlineorder }) }}">here</a></p>

        <p>You will get more information soon.</p>
    </div>
{% endblock %}