
{# This is the email send when a user asks for a new password #}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello,</h1>

        <p>{{ user.firstName }} have you forgotten your password ?</p>

        <p>If you have made this request, please continue following the instructions.</p>

        <p>Safety code : {{ security_code }}</p>

        <br><p>If you didn't ask for a new password, please ignore this email.</p>

    </div>
{% endblock %}