
{# This is the email send when an order is declined #}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello {{ user.firstName }},</h1>

        {% if idButton == 7 %}
        <p>Your odrer was declined for these reasons :</p>
        {% elseif idButton == 8 %}
        <p>Your odrer was canceled for these reasons :</p>
        {% endif %}

        <p>{{ message }}</p>

        <p>Sorry for the inconvenience.</p>
    </div>
{% endblock %}