
{# This is the email send when an order is validated, ordered, arrived or processed #}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello {{ user.firstName }},</h1>

        <p>The status of your order is now : {{ message }}</p>

        <p>You will get more information soon.</p>
    </div>
{% endblock %}