{% extends 'base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}
    <h1>Grade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idgrade</th>
                <td>{{ grade.idgrade }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ grade.rate }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('grade_index') }}">back to list</a>

    <a href="{{ path('grade_edit', {'idgrade': grade.idgrade}) }}">edit</a>

    {{ include('grade/_delete_form.html.twig') }}
{% endblock %}
