<form method="post" action="{{ path('provider_delete', {'idprovider': provider.idprovider}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ provider.idprovider) }}">
    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
</form>
