{% extends 'base.html.twig' %}

{% block title %}Provider index{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>List of providers</h1>



        <table class="table">
            <thead>
                <tr>
                    <th>Provider name</th>
                    <th>Reliable</th>
                    <th>Global grade</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for provider in providers %}
                <tr>
                    <td>{{ provider.providername }}</td>
                    <td>{{ provider.reliable ? '<p style="color:green;">Yes</p>' : '<p style="color:red;">No</p>' }}</td>
                    {% if provider.globalgrade == 0 %}
                        <td><p style="color:red;">Not rated yet</p></td>
                    {% else %}
                        <td>
                            {% if provider.globalgrade < 1.7 %}
                                <p style="color:red;">
                            {% elseif provider.globalgrade < 3.2 %}
                                <p style="color:darkorange;">
                            {% else %}
                                <p style="color:green;">
                            {% endif %}
                            {{ provider.globalgrade }}/5★</p></td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-success btn-sm" onclick='window.location.href="{{ path('provider_show', {'idprovider': provider.idprovider, 'iduser':app.user.iduser}) }}";'>Rate it!</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6"><p  style="color:red;">No provider in database...</p></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
