{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}New Provider{% endblock %}

{% block body %}
    <div class="jumbotron">

        <h1 class="display-3">Create new Provider</h1>

        {{ form_start(form) }}

        {%  if error is defined %}
            <p  style="color:red;">{{ error }}</p>
        {% endif %}

        {{ form_row(form.providername , { 'attr': {'placeholder': "Name of the provider" }}) }}

        <button type="submit" class="btn btn-secondary">Add to database</button>

        {{ form_end(form) }}
        <br><br>

        <hr class="my-4">
        <br><br>

        <h1 class="display-3">Delete a provider</h1>

        {% if list is empty %}
            <p  style="color:red;">The database is empty for now...</p>
        {% else %}
            <table class="table">
                <thead>
                <tr class="table-primary">
                    <th>Provider's name</th>
                    <th>Reliable</th>
                    <th>Global grade</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                {% for provider in list %}
                    <tr>
                        <td><small>{{ provider.providername }}</small></td>
                        <td><small>{{ provider.reliable ? '<p style="color:green;">Yes</p>' : '<p style="color:red;">No</p>' }}</small></td>
                        {% if provider.globalgrade is not null %}
                            <td><small>
                                    {% if provider.globalgrade < 1.7 %}
                                        <p style="color:red;">
                                    {% elseif provider.globalgrade < 3.2 %}
                                        <p style="color:darkorange;">
                                    {% else %}
                                        <p style="color:green;">
                                    {% endif %}
                                        {{ provider.globalgrade }}</p></small></td>
                        {% else %}
                            <td><small>Not graded yet</small></td>
                        {% endif %}
                        <td>{{ include('provider/_delete_form.html.twig') }}
                            <button class="btn btn-secondary btn-sm" onclick="window.location.href =' {{ path('provider_changeReliability', {'idprovider':provider.idprovider}) }}';">Change reliability</button> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
