{% extends 'base.html.twig' %}

{% block title %}Provider{% endblock %}

{% block body %}
    <div class="jumbotron">

    <h1>{{ provider.providername }}</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Reliable</th>
                    <td>{{ provider.reliable ? 'Yes' : 'No' }}</td>
                </tr>
                <tr>
                    <th>Global grade</th>
                    <td>
                            {% if provider.globalgrade == 0 %}
                                <p style="color:red;">Not rated yet</p>
                            {% else %}
                                {% if provider.globalgrade < 1.7 %}
                                    <p style="color:red;">
                                {% elseif provider.globalgrade < 3.2 %}
                                    <p style="color:darkorange;">
                                {% else %}
                                    <p style="color:green;">
                                {% endif %}
                                {{ provider.globalgrade }}/5★</p>
                                        ({{ gradeAmount }} votes)
                            {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>What do you think about this provider?</th>
                    <td>
                        {% if previousGrade is not null%}
                        (Your previous grade about this provider is : {{ previousGrade }}/5★)<br>
                        {% endif %}

                        <div class="rate">
                            <form class="rate" action="{{ path('provider_show',  {'idprovider': provider.idprovider, 'iduser':app.user.iduser}) }}" method="post">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                                <br>
                                <button type="submit" value="submit" class="btn btn-warning">Rate it</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" onclick="window.location.href = '{{ path("provider_index") }}';"><< Previous</button>
        <br><br>
        <h2>Last comments :</h2>
        <iframe src="{{ path('showAllComments', { 'idprovider': provider.idprovider}) }}" height="800" width="100%">
            An error has occured. Maybe your browser does not support this element.
        </iframe>
        <br>
        {{ form_start(form) }}
        {{ form_row(form.content , { 'attr': {'placeholder': "New  comment", 'class': 'form-control' }}) }}
        <button type="submit" class="btn btn-success">Save comment</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
